/.metadata
/AreaRectangulo.psc
/Calcular_Promedio.psc
/ConvertirCelsiusAFahrenheit.psc
/Fundamento de  programación Y algoritmo[1].docx
/HOLA MUNDO1.psc
/HolaMundo
/HOLA_MUNDO.py
/imprimir_EJEMPLO.psc
/Imprimir_Numeros MULT.psc
/montocalculado.psc
/Numero_Mayor.psc
/NUM_POS_NEG_CERO.psc
/preyecsc1
/prosc
/prosc2
/prosc3
/prosc4
/proyecto1
/proyecto2
/PROYECTO3
/PROYECTO4
/PROYECTO5
/PROYECTO6
/PROYECTO7
/proyesc1
/PROYRCTO5
/ReorganizarRefrescos.psc
/sc1
/SCANER1
/SumarDosNumeros
/SumarDosNumeros.psc
/word